[submodule "libs/tinyusb"]
	path = libs/tinyusb
	url = https://github.com/hathach/tinyusb
[submodule "libs/c-ringbuf"]
	path = libs/c-ringbuf
	url = https://github.com/dhess/c-ringbuf
[submodule "libs/ringbuf"]
	path = libs/ringbuf
	url = https://github.com/jeremyherbert/ringbuf
